SUPABASE_ACCESS_TOKEN=[create at https://supabase.com/dashboard/account/tokens]
SUPABASE_DB_PASSWORD=[from project creation]
SUPABASE_URL=[found at https://supabase.com/dashboard/project/(project url)]
SUPABASE_PUBLISHABLE_KEY=[found at https://supabase.com/dashboard/project/(project url) when hovering over url]